BOT_TOKEN=your_bot_token_here
BOT_USERNAME=your_bot_username
BOT_NAME=NexDrop
CHANNEL_BTN=📢 Join My Channel
CHANNEL_URL=https://t.me/your_channel_username
OWNER_ID=your_telegram_user_id

DB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=YourApp
DB_NAME=nexdrop
DB_CHANNEL=-100your_channel_id

AUTO_DEL=300

START_PHOTO=https://your-start-image-url.jpg
FSUB_PHOTO=https://your-fsub-image-url.jpg
